NEXT_PUBLIC_BASE_URL=http://localhost:3001

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

DATABASE_URL=mysql://root:*******@localhost:3306/voix_db

DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=voix_db
DB_PORT=3306

WIDGET_URL=https://example.vercel.app

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=